/*     Fonts     */
@font-face{
    font-family: Cera-Pro;
    src: url("CeraPro-Light.ttf") format("truetype");
}

@font-face{
    font-family: Cera-Pro-Bold;
    font-weight:bold;
    src: url('CeraPro-Medium.ttf') format("truetype");
}



/*     Navigation Bar CSS     */
ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
}


li a{
    font-size: 18   px;
    display:block;
    text-align:center;
    text-decoration:none;
}

.dropdown{
    position: relative;
    display:inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* Check for redundant code in this, delete later */

.nav-bar{
    height: 10%;
    align-items: baseline;
    background: #FAF9F7;
}

.nav-bar-selected{
    font-family: Cera-Pro, sans-serif;
    color:#006649;
}

.nav-bar-unselected{
    color:#9C9C9A;
    font-family: Cera-Pro-Bold, sans-serif;
}

.font-color{
    color:#006649;
}

.login-color{
    background-color:#E9CA3D
}


.body-size{
    width: 80%;
    left: 10%;
    position:relative;
}

.welcome-message{
    float:left;
    border: 3px solid;
    font-size: 28px;
    position:relative;
}


/*     Horizontal Line     */

/* Needs editing later */

hr{
    height: 3px;
    color: #ADD777;
}


/*     Table sizing     */
.table-size{
    width:100%;
    height: 10%;
}

.table-top-col{
    background-color: #619240;
    color:white;
}

.table-row-color{
    background-color:#DCEEC5;
}

.table-cell{
    height: 5%;
    width: 16%;
    font-size: 20px;
}

.login-button{
	background-color: #006649;
	color: white;
	width: 310px;
	height: 50px;
	font-family:Cera-Pro-Bold;
}

.footer {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}

#login-field{
	position:inherit;
	padding-bottom:5.8%;
	width: 494px;
	min-height: 450px;
	background-image:url("../Images/login_background@2x.png");
	border: none;
}

#account-number{

}
